# Pyber Challenge

### 4.3 Loading and Reading CSV files

In [1]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# File to Load
city_data_to_load = "Resources/city_data.csv"
ride_data_to_load = "Resources/ride_data.csv"

# Read the City and Ride Data
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)

### Merge the DataFrames

In [2]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the data table for preview
pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,1/14/2019 10:14,13.83,5.739410e+12,5,Urban
1,South Michelleport,3/4/2019 18:24,30.24,2.343910e+12,72,Urban
2,Port Samanthamouth,2/24/2019 4:29,33.44,2.005070e+12,57,Urban
3,Rodneyfort,2/10/2019 23:22,23.44,5.149250e+12,34,Urban
4,South Jack,3/6/2019 4:28,34.58,3.908450e+12,46,Urban

## Deliverable 1: Get a Summary DataFrame

In [3]:
# Each city type dataframe/series
urban_cities_df = pyber_data_df[pyber_data_df["type"] == "Urban"]
suburban_cities_df = pyber_data_df[pyber_data_df["type"] == "Suburban"]
rural_cities_df = pyber_data_df[pyber_data_df["type"] == "Rural"]
#rural_cities_df.head()
suburban_cities_df.head()

,city,date,fare,ride_id,driver_count,type
1625,Barronchester,1/27/2019 3:08,27.79,6.653620e+12,11,Suburban
1626,East Kentstad,4/7/2019 19:44,18.75,6.575960e+12,20,Suburban
1627,Lake Omar,1/17/2019 21:33,21.71,9.669120e+11,22,Suburban
1628,Myersshire,2/27/2019 17:38,17.10,5.706770e+12,19,Suburban
1629,West Hannah,4/19/2019 1:06,37.78,2.273050e+12,12,Suburban

In [4]:
rural_cities_df.dtypes

city             object
date             object
fare            float64
ride_id         float64
driver_count      int64
type             object
dtype: object

In [5]:
#  1. Get the total rides for each city type
ride_count = pyber_data_df.groupby(["type"]).count()["ride_id"]
ride_count.head()

type
Rural        125
Suburban     625
Urban       1625
Name: ride_id, dtype: int64

In [6]:
urban_total_rides_df = pyber_data_df[pyber_data_df["type"] == 'Urban']
suburban_total_rides_df = pyber_data_df[pyber_data_df["type"] == 'Suburban']
rural_total_rides_df = pyber_data_df[pyber_data_df["type"] == 'Rural']

In [7]:
urban_total_rides = urban_total_rides_df.count()["ride_id"]
suburban_total_rides = suburban_total_rides_df.count()["ride_id"]
rural_total_rides = rural_total_rides_df.count()["ride_id"]

In [8]:
# 2. Get the total drivers for each city type
drivers_total_count = city_data_df.groupby(["type"]).sum()["driver_count"]
drivers_total_count.head()

type
Rural         78
Suburban     490
Urban       2405
Name: driver_count, dtype: int64

In [9]:
urban_driver_df = city_data_df[city_data_df["type"] == "Urban"]
suburban_driver_df = city_data_df[city_data_df["type"] == "Suburban"]
rural_driver_df = city_data_df[city_data_df["type"] == "Rural"]

In [10]:
urban_total_drivers = urban_driver_df.sum()["driver_count"]
suburban_total_drivers = suburban_driver_df.sum()["driver_count"]
#suburban_total_drivers
rural_total_drivers = rural_driver_df.sum()["driver_count"]

In [11]:
#  3. Get the total amount of fares for each city type
fares_total = pyber_data_df.groupby(["type"]).sum()["fare"]
fares_total

type
Rural        4327.93
Suburban    19356.33
Urban       39854.38
Name: fare, dtype: float64

In [12]:
# Get average fare for each city type
urban_total_fares = urban_cities_df.sum()["fare"]
urban_avg_fare= urban_total_fares/urban_total_rides
urban_avg_fare

24.52577230769231

In [13]:
suburban_total_fares = suburban_cities_df.sum()["fare"]
suburban_avg_fare = suburban_total_fares/suburban_total_rides
suburban_avg_fare

30.970128000000003

In [14]:
rural_total_fares = rural_cities_df.sum()["fare"]
rural_avg_fare = rural_total_fares/rural_total_rides
rural_avg_fare

34.623439999999995

In [15]:
# 5. Get the average fare per driver for each city type. 
urban_avg_fare_per_driver = urban_total_fares/urban_total_drivers
urban_avg_fare_per_driver

16.571467775467777

In [16]:
suburban_avg_fare_per_driver = suburban_total_fares/suburban_total_drivers
suburban_avg_fare_per_driver

39.50271428571429

In [17]:
rural_avg_fare_per_driver = rural_total_fares/rural_total_drivers
rural_avg_fare_per_driver

55.486282051282046

In [18]:
#  6. Create a PyBer summary DataFrame. 
pyber_summary_df = pd.DataFrame({
          "Total Rides" : ride_count,
          "Total Drivers": drivers_total_count,
          "Total Fares": fares_total,
          "Average Fare Per Ride": (rural_avg_fare, suburban_avg_fare, urban_avg_fare),
          "Average Fare Per Driver": (rural_avg_fare_per_driver, suburban_avg_fare_per_driver, urban_avg_fare_per_driver)})

pyber_summary_df

,Total Rides,Total Drivers,Total Fares,Average Fare Per Ride,Average Fare Per Driver
type,,,,,
Rural,125,78,4327.93,34.623440,55.486282
Suburban,625,490,19356.33,30.970128,39.502714
Urban,1625,2405,39854.38,24.525772,16.571468

In [19]:
#  7. Cleaning up the DataFrame. Delete the index name
pyber_summary_df.index.name = None
pyber_summary_df

,Total Rides,Total Drivers,Total Fares,Average Fare Per Ride,Average Fare Per Driver
Rural,125,78,4327.93,34.623440,55.486282
Suburban,625,490,19356.33,30.970128,39.502714
Urban,1625,2405,39854.38,24.525772,16.571468

In [20]:
#  8. Format the columns.
pyber_summary_df["Total Rides"] = pyber_summary_df["Total Rides"].map("{:,}".format)
pyber_summary_df["Total Drivers"] = pyber_summary_df["Total Drivers"].map("{:,}".format)
pyber_summary_df["Total Fares"] = pyber_summary_df["Total Fares"].map("${:,.2f}".format)
pyber_summary_df["Average Fare Per Ride"] = pyber_summary_df["Average Fare Per Ride"].map("${:,.2f}".format)
pyber_summary_df["Average Fare Per Driver"] = pyber_summary_df["Average Fare Per Driver"].map("${:,.2f}".format)
pyber_summary_df

,Total Rides,Total Drivers,Total Fares,Average Fare Per Ride,Average Fare Per Driver
Rural,125,78,"$4,327.93",$34.62,$55.49
Suburban,625,490,"$19,356.33",$30.97,$39.50
Urban,"1,625","2,405","$39,854.38",$24.53,$16.57

## Deliverable 2.  Create a multiple line plot that shows the total weekly of the fares for each type of city.

In [21]:
# 1. Read the merged DataFrame
pyber_data_df
pyber_data_df.dtypes

city             object
date             object
fare            float64
ride_id         float64
driver_count      int64
type             object
dtype: object

In [23]:
# 2. Using groupby() to create a new DataFrame showing the sum of the fares 
#  for each date where the indices are the city type and date.
# Thank you, Dylan for the clue on this .to_frame function
pyber_weekly = pyber_data_df.groupby(["type","date"]).sum()["fare"]
pyber_weekly.to_frame(name='pyber_weekly_df')

#pyber_weekly = pyber_data_df.groupby(pyber_data_df["date"].sum()["fare"])
#pyber_weekly_df = pd.DataFrame({
   # "Weeks": [pyber_data_df.groupby(["date"])],
   # "Weekly Fare" : [pyber_data_df.groupby(["fare"])]})
#pyber_weekly_df

                       pyber_weekly_df
type  date
Rural 1/1/2019 9:45              43.69
      1/11/2019 4:39             16.42
      1/14/2019 15:58            54.10
      1/14/2019 7:09             18.05
      1/15/2019 21:44            30.26
...                                ...
Urban 5/8/2019 1:54              32.69
      5/8/2019 2:31              41.33
      5/8/2019 4:20              21.99
      5/8/2019 4:39              18.45
      5/8/2019 7:29              18.55

[2364 rows x 1 columns]

In [31]:
# 3. Reset the index on the DataFrame you created in #1. This is needed to use the 'pivot()' function.
# df = df.reset_index()
pyber_weekly=pyber_weekly.reset_index()
pyber_weekly

      index   type             date   fare
0         0  Rural    1/1/2019 9:45  43.69
1         1  Rural   1/11/2019 4:39  16.42
2         2  Rural  1/14/2019 15:58  54.10
3         3  Rural   1/14/2019 7:09  18.05
4         4  Rural  1/15/2019 21:44  30.26
...     ...    ...              ...    ...
2359   2359  Urban    5/8/2019 1:54  32.69
2360   2360  Urban    5/8/2019 2:31  41.33
2361   2361  Urban    5/8/2019 4:20  21.99
2362   2362  Urban    5/8/2019 4:39  18.45
2363   2363  Urban    5/8/2019 7:29  18.55

[2364 rows x 4 columns]

In [32]:
# 4. Create a pivot table with the 'date' as the index, the columns ='type', and values='fare' 
# to get the total fares for each type of city by the date. 
pyber_weekly_df=pyber_weekly.pivot(index='date', columns='type', values='fare')

In [34]:
# 5. Create a new DataFrame from the pivot table DataFrame using loc on the given dates, '2019-01-01':'2019-04-29'.
pyber_weekly_df=pyber_weekly_df.loc['2019-01-01':'2019-04-29']
pyber_weekly_df

Empty DataFrame
Columns: [Rural, Suburban, Urban]
Index: []

In [41]:
# 6. Set the "date" index to datetime datatype. This is necessary to use the resample() method in Step 8.
# df.index = pd.to_datetime(df.index)
pyber_weekly_df["date"]=pd.to_datetime(pyber_data_df["date"])
pyber_weekly_df.dtypes

type
Rural              float64
Suburban           float64
Urban              float64
date        datetime64[ns]
dtype: object

In [36]:
# 7. Check that the datatype for the index is datetime using df.info()
pyber_weekly_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2375 entries, 0 to 2374
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Rural     0 non-null      float64
 1   Suburban  0 non-null      float64
 2   Urban     0 non-null      float64
 3   date      2375 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(3)
memory usage: 92.8 KB

In [39]:
# 8. Create a new DataFrame using the "resample()" function by week 'W' and get the sum of the fares for each week.
weekly_resampled_data = pyber_weekly_df.resample('W').mean()
  
# find the mean opening price of each week 
# for each week over a period of 1 year.
weekly_resampled_data

TypeError: Only valid with DatetimeIndex, TimedeltaIndex or PeriodIndex, but got an instance of 'Int64Index'

In [30]:
# 8. Using the object-oriented interface method, plot the resample DataFrame using the df.plot() function. 

# Import the style from Matplotlib.
from matplotlib import style
# Use the graph style fivethirtyeight.
style.use('fivethirtyeight')