# Pyber Challenge

### 4.3 Loading and Reading CSV files

In [1]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# File to Load
city_data_to_load = "Resources/city_data.csv"
ride_data_to_load = "Resources/ride_data.csv"

# Read the City and Ride Data
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)

### Merge the DataFrames

In [25]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the data table for preview
pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,1/14/2019 10:14,13.83,5.739410e+12,5,Urban
1,South Michelleport,3/4/2019 18:24,30.24,2.343910e+12,72,Urban
2,Port Samanthamouth,2/24/2019 4:29,33.44,2.005070e+12,57,Urban
3,Rodneyfort,2/10/2019 23:22,23.44,5.149250e+12,34,Urban
4,South Jack,3/6/2019 4:28,34.58,3.908450e+12,46,Urban

## Deliverable 1: Get a Summary DataFrame

In [3]:
# Each city type dataframe/series
urban_cities_df = pyber_data_df[pyber_data_df["type"] == "Urban"]
suburban_cities_df = pyber_data_df[pyber_data_df["type"] == "Suburban"]
rural_cities_df = pyber_data_df[pyber_data_df["type"] == "Rural"]
#rural_cities_df.head()
suburban_cities_df.head()

,city,date,fare,ride_id,driver_count,type
1625,Barronchester,1/27/2019 3:08,27.79,6.653620e+12,11,Suburban
1626,East Kentstad,4/7/2019 19:44,18.75,6.575960e+12,20,Suburban
1627,Lake Omar,1/17/2019 21:33,21.71,9.669120e+11,22,Suburban
1628,Myersshire,2/27/2019 17:38,17.10,5.706770e+12,19,Suburban
1629,West Hannah,4/19/2019 1:06,37.78,2.273050e+12,12,Suburban

In [4]:
rural_cities_df.dtypes

city             object
date             object
fare            float64
ride_id         float64
driver_count      int64
type             object
dtype: object

In [5]:
#  1. Get the total rides for each city type
ride_count = pyber_data_df.groupby(["type"]).count()["ride_id"]
ride_count.head()

type
Rural        125
Suburban     625
Urban       1625
Name: ride_id, dtype: int64

In [23]:
# 2. Get the total drivers for each city type
drivers_total_count = pyber_data_df.groupby(["type"]).sum()["driver_count"]
drivers_total_count.head()

type
Rural         537
Suburban     8570
Urban       59602
Name: driver_count, dtype: int64

In [7]:
#  3. Get the total amount of fares for each city type
fares_total = pyber_data_df.groupby(["type"]).sum()["fare"]
fares_total.head()

type
Rural        4327.93
Suburban    19356.33
Urban       39854.38
Name: fare, dtype: float64

In [8]:
#  4. Get the average fare per ride for each city type. 
urban_total_fares = urban_cities_df.sum()["fare"]
urban_total_rides = urban_cities_df.count()["ride_id"]
urban_avg_fare = urban_total_fares/urban_total_rides
urban_avg_fare

24.52577230769231

In [9]:
suburban_total_fares = suburban_cities_df.sum()["fare"]
suburban_total_rides = suburban_cities_df.count()["ride_id"]
suburban_avg_fare = suburban_total_fares/suburban_total_rides
suburban_avg_fare

30.970128000000003

In [10]:
rural_total_fares = rural_cities_df.sum()["fare"]
rural_total_rides = rural_cities_df.count()["ride_id"]
rural_avg_fare = rural_total_fares/rural_total_rides
rural_avg_fare
#rural_total_rides

34.623439999999995

In [32]:
# 5. Get the average fare per driver for each city type. 
urban_total_drivers = urban_cities_df.sum()['driver_count']
urban_total_drivers
#urban_avg_fare_per_driver = urban_total_fares/urban_total_drivers
#urban_avg_fare_per_driver

59602

In [16]:
suburban_total_drivers = suburban_cities_df.sum()["driver_count"]
suburban_avg_fare_per_driver = suburban_total_fares/suburban_total_drivers
suburban_avg_fare_per_driver

2.2586149358226373

In [17]:
rural_total_drivers = rural_cities_df.sum()["driver_count"]
rural_avg_fare_per_driver = rural_total_fares/rural_total_drivers
rural_avg_fare_per_driver

8.059459962756051

In [19]:
#  6. Create a PyBer summary DataFrame. 
pyber_summary_df = pd.DataFrame({
          "Total Rides" : ride_count,
          "Total Drivers": drivers_total_count,
          "Total Fares": fares_total,
          "Average Fare Per Ride": (urban_avg_fare, suburban_avg_fare, rural_avg_fare),
          "Average Fare Per Driver": (urban_avg_fare_per_driver, suburban_avg_fare_per_driver, rural_avg_fare_per_driver)})

pyber_summary_df

,Total Rides,Total Drivers,Total Fares,Average Fare Per Ride,Average Fare Per Driver
type,,,,,
Rural,125,537,4327.93,24.525772,0.668675
Suburban,625,8570,19356.33,30.970128,2.258615
Urban,1625,59602,39854.38,34.623440,8.059460

In [21]:
#  7. Cleaning up the DataFrame. Delete the index name
pyber_summary_df.index.name = None
pyber_summary_df

,Total Rides,Total Drivers,Total Fares,Average Fare Per Ride,Average Fare Per Driver
Rural,125,537,4327.93,24.525772,0.668675
Suburban,625,8570,19356.33,30.970128,2.258615
Urban,1625,59602,39854.38,34.623440,8.059460

In [ ]:
#  8. Format the columns.

## Deliverable 2.  Create a multiple line plot that shows the total weekly of the fares for each type of city.

In [ ]:
# 1. Read the merged DataFrame

In [ ]:
# 2. Using groupby() to create a new DataFrame showing the sum of the fares 
#  for each date where the indices are the city type and date.

In [ ]:
# 3. Reset the index on the DataFrame you created in #1. This is needed to use the 'pivot()' function.
# df = df.reset_index()

In [ ]:
# 4. Create a pivot table with the 'date' as the index, the columns ='type', and values='fare' 
# to get the total fares for each type of city by the date.

In [ ]:
# 5. Create a new DataFrame from the pivot table DataFrame using loc on the given dates, '2019-01-01':'2019-04-29'.

In [ ]:
# 6. Set the "date" index to datetime datatype. This is necessary to use the resample() method in Step 8.
# df.index = pd.to_datetime(df.index)

In [ ]:
# 7. Check that the datatype for the index is datetime using df.info()

In [ ]:
# 8. Create a new DataFrame using the "resample()" function by week 'W' and get the sum of the fares for each week.

In [ ]:
# 8. Using the object-oriented interface method, plot the resample DataFrame using the df.plot() function. 

# Import the style from Matplotlib.
from matplotlib import style
# Use the graph style fivethirtyeight.
style.use('fivethirtyeight')